// VARIABLES COULEURS
$primaryColor : #363A2B;
$SecondaryColor : #4F6234;
$TertiaryColor : #D9C7B3;
$InputColor : #E1D2C2;
$BackgroundColorPage : #E5E0DC;
$ColorBTNPrimary : #FFFFFF;
$ColorBTNSecondary : #FFFFFF;
