//-- DECLARATION VARIABLES FONTS
$KarlaBold : "karlabold";
$KarlaRegular : "karlaregular";
//-----------------------------//
$DisplayBold : "playerbold";
$DisplayMedium : "playermedium";
//-----------------------------//